# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
venv/
.env
*.egg-info/
dist/
build/

# IDE
.vscode/
.idea/
*.swp
*~
.DS_Store

# Data files - игнорируем CSV, но не .dvc
data/
!data/raw/
!data/raw/*.dvc
!data/.gitkeep

# DVC
.dvc/tmp
.dvc/cache
dvc_remote/

# Jupyter
.ipynb_checkpoints/
